{% extends _admin.baseTemplate %}

{% block secondarynav %}
    {% if _action.getOption('actions') %}
        {% for key, action in _action.getOption('actions') %}
            <a class="button_slidingdoors button_grey" href="{{ _admin.path(action.route) }}">
                <span>
                    {% if key|lower == 'new' %}
                        <img class="button_icon" src="{{ asset('bundles/whiteoctoberadmin/images/buttons/icons/add.png') }}" alt="add icon"/>
                    {% endif %}
                    {{ action.label }}
                </span>
            </a>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if simpleFilterEnabled %}
        <div class="simpleFilter">
            <form action="{{ _admin.path('list') }}" method="GET">
                <input type="text" name="{{ _action.option('simpleFilterParameter') }}" value="{{ simpleFilter }}" />
                <input type="submit" value="Filter" />
                {% for parameter in _admin.parametersToPropagate %}
                    {% if app.request.query.has(parameter) %}
                        <input type="hidden" name="{{ parameter }}" value="{{ app.request.query.get(parameter) }}" />
                    {% endif %}
                {% endfor %}
            </form>
        </div>
    {% endif %}
    {% if advancedFilterEnabled %}
        <div class="advancedFilter">
            <form  action="{{ _admin.path('list') }}" method="GET">
                {{ form_errors(advancedFilterForm) }}
                {{ form_widget(advancedFilterForm) }}
                {{ form_rest(advancedFilterForm) }}
                {% for parameter in _admin.parametersToPropagate %}
                    {% if app.request.query.has(parameter) %}
                        <input type="hidden" name="{{ parameter }}" value="{{ app.request.query.get(parameter) }}" />
                    {% endif %}
                {% endfor %}
                <input type="submit" value="Filter" />
            </form>
        </div>
    {% endif %}
    {% if simpleFilterEnabled or advancedFilterEnabled %}
        <div class="adminClear">
             <a href="{{ _admin.path('list', { 'clearFilter': true }) }}">Clear</a>
        </div>
    {% endif %}
    <div class="results_info">
        <span class="results_number">Found <strong>{{ pagerfanta.getNbResults }}</strong> results</span>
        <div class="clear"></div>
        {% if pagerfanta.haveToPaginate %}
            {{ pagerfanta(pagerfanta, pagerfantaView, pagerfantaOptions) }}
        {% endif %}
    </div>
    <div class="clear"></div>
    <div class="panel">
        <div class="panel_content panel_content_list">
            <table>
                <thead>
                    <tr>
                        {% if _action.getOption('batch') %}
                            <th>
                            </th>
                        {% endif %}
                        {% for field in _action.fields %}
                            <th class="{% if loop.first %}first{% endif %}">
                                {% if field.hasOption('sortable') and field.getOption('sortable') %}
                                    {% if sort == field.name %}
                                        <a href="{{ _admin.path('list', { 'sort': field.name, 'order': 'asc' == order ? 'desc' : 'asc' }) }}">{{ field.label }} <img src="{{ asset('bundles/whiteoctoberadmin/images/buttons/arrow'~('asc' == order ? 'up' : 'down')~'.gif') }}" /></a>
                                    {% else %}
                                        <a href="{{ _admin.path('list', { 'sort': field.name }) }}">{{ field.label }}</a>
                                    {% endif %}
                                {% else %}
                                    {{ field.label }}
                                {% endif %}
                            </th>
                        {% endfor %}
                        {% for action in _action.getOption('dataActions') %}
                            <th class="th_action {% if loop.last %}last{% endif %}">{{ action.label }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody class="list_content">
                    {% for data in pagerfanta.currentPageResults %}
                        <tr>
                            {% if _action.getOption('batch') %}
                                <td class="td_checkbox">
                                    <input type="checkbox" id="white_october_admin_bundle_batch_selector_{{ data.id }}"
                                        {%- if batch_selector.isSelected(data.id) %} checked="checked"{% endif -%}
                                    />
                                    <script type="text/javascript">
                                        jQuery(function() {
                                            jQuery('#white_october_admin_bundle_batch_selector_{{ data.id }}').change(function() {
                                                if (jQuery(this).is(':checked')) {
                                                    jQuery.post('{{ _admin.path('batch_select') }}', { 'id': '{{ data.id }}' });
                                                } else {
                                                    jQuery.post('{{ _admin.path('batch_unselect') }}', { 'id': '{{ data.id }}' });
                                                }
                                            })
                                        });
                                    </script>
                                </td>
                            {% endif %}
                            {% for field in _action.fields %}
                                <td>{{ _admin.renderField(field, data) }}</td>
                            {% endfor %}
                            {% for action in _action.getOption('dataActions') %}
                                <td class="td_data_action">
                                    {% set routeParameters = action.routeParameters is defined ? action.routeParameters : { 'id': '@id' } %}
                                    {% set url = _admin.generateDataAction(data, action.routeName, routeParameters) %}
                                    {% if action._method is not defined or 'GET' == action._method %}
                                        <a href="{{ url }}" class="icon {{ action.label|lower }}" title="{{ action.label }}"></a>
                                    {% else %}
                                        <form action="{{ url }}" method="POST">
                                            <input type="hidden" name="_method" value="{{ action._method }}" />
                                            <input type="submit" value="{{ action.label }}"
                                                {% if action.confirm %}
                                        	    onclick="return confirm('{{ action.confirm }}');"
                                        	    {% endif %}
                                            >
                                        </form>
                                    {% endif %}
                                    </li>

                                    </ul>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="panel_footer">
            {% if _action.getOption('batch') %}
                <input type="checkbox" id="white_october_admin_bundle_batch_selector_all"
                    {%- if batch_selector.isAllSelected() %} checked="checked"{% endif -%}
                />
                <script type="text/javascript">
                    jQuery(function() {
                        jQuery('#white_october_admin_bundle_batch_selector_all').change(function() {
                            var checked = this.checked;
                            if (checked) {
                                jQuery.post('{{ _admin.path('batch_select_all') }}');
                            } else {
                                jQuery.post('{{ _admin.path('batch_unselect_all') }}');
                            }
                            jQuery('.td_checkbox input[type=checkbox]').each(function() {
                                this.checked = checked;
                            });
                        })
                    });
                </script>
                <form action="{{ _admin.path('batch') }}" method="POST">
                    <select name="action">
                        <option value=""></option>
                        {% for name, label in _action.getOption('batch_actions') %}
                            <option value="{{ name }}">{{ label }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Go!" />
                </form>
            {% endif %}
            {% if _action.getOption('actions') %}
                <ul>
                    {% for key, action in _action.getOption('actions') %}
                        <li>
                            <a class="button_slidingdoors button_grey" href="{{ _admin.path(action.route) }}">
                                <span>
                                    {% if key|lower == 'new' %}
                                        <img class="button_icon" src="{{ asset('bundles/whiteoctoberadmin/images/buttons/icons/add.png') }}" alt="add icon"/>
                                    {% endif %}
                                    {{ action.label }}
                                </span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
