{% extends _admin.baseTemplate %}

{% block secondarynav %}
    {% if _action.hasOption('actions') %}
        {% for action in _action.getOption('actions') %}
            <a class="button_slidingdoors button_grey" href="{{ _admin.path(action.route) }}">
                <span>
                    {% if action.label|lower == 'new' %}
                        <img class="button_icon" src="{{ asset('bundles/whiteoctoberadmin/images/buttons/icons/add.png') }}" alt="add icon"/>
                    {% endif %}
                    {{ action.label }}
                </span>
            </a>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if simpleFilterEnabled %}
        <div class="simpleFilter">
            <form action="{{ _admin.path('list') }}" method="GET">
                <input type="text" name="{{ _action.option('simpleFilterParameter') }}" value="{{ simpleFilter }}" />
                <input type="submit" value="Filter" />
                {% for parameter in _admin.parametersToPropagate %}
                    {% if app.request.query.has(parameter) %}
                        <input type="hidden" name="{{ parameter }}" value="{{ app.request.query.get(parameter) }}" />
                    {% endif %}
                {% endfor %}
            </form>
        </div>
    {% endif %}
    {% if advancedFilterEnabled %}
        <div class="advancedFilter">
            <form  action="{{ _admin.path('list') }}" method="GET">
                {{ form_errors(advancedFilterForm) }}
                {{ form_widget(advancedFilterForm) }}
                {{ form_rest(advancedFilterForm) }}
                {% for parameter in _admin.parametersToPropagate %}
                    {% if app.request.query.has(parameter) %}
                        <input type="hidden" name="{{ parameter }}" value="{{ app.request.query.get(parameter) }}" />
                    {% endif %}
                {% endfor %}
                <input type="submit" value="Filter" />
            </form>
        </div>
    {% endif %}
    {% if simpleFilterEnabled or advancedFilterEnabled %}
        <div class="adminClear">
             <a href="{{ _admin.path('list', { 'clearFilter': true }) }}">Clear</a>
        </div>
    {% endif %}
    <div class="results_info">
        <span class="results_number">Found <strong>{{ pagerfanta.getNbResults }}</strong> results</span>
        <div class="clear"></div>
        {% if pagerfanta.haveToPaginate %}
            {{ pagerfanta(pagerfanta, pagerfantaView, pagerfantaOptions) }}
        {% endif %}
    </div>
    <div class="clear"></div>
    <div class="panel">
        <div class="panel_content panel_content_list">
            <table>
                <thead>
                    <tr>
                        {% for field in _action.fields %}
                            <th class="{% if loop.first %}first{% endif %}">
                                {% if field.hasOption('sortable') and field.getOption('sortable') %}
                                    {% if sort == field.name %}
                                        <a href="{{ _admin.path('list', { 'sort': field.name, 'order': 'asc' == order ? 'desc' : 'asc' }) }}">{{ field.label }} <img src="{{ asset('bundles/whiteoctoberadmin/images/buttons/arrow'~('asc' == order ? 'up' : 'down')~'.gif') }}" /></a>
                                    {% else %}
                                        <a href="{{ _admin.path('list', { 'sort': field.name }) }}">{{ field.label }}</a>
                                    {% endif %}
                                {% else %}
                                    {{ field.label }}
                                {% endif %}
                            </th>
                        {% endfor %}
                        {% for action in _action.getOption('data_actions') %}
                            <th class="th_action {% if loop.last %}last{% endif %}">{{ action.label }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody class="list_content">
                    {% for data in pagerfanta.currentPageResults %}
                        <tr>
                            {% for field in _action.fields %}
                                <td>{{ _action.renderField(field, data) }}</td>
                            {% endfor %}
                            {% for action in _action.getOption('data_actions') %}
                                <td class="td_data_action">
                                    {% if action._method is not defined or 'GET' == action._method %}
                                        <a href="{{ _admin.path(action.route, { 'id': data.id }) }}" class="icon {{ action.label|lower }}" title="{{ action.label }}"></a>
                                    {% else %}
                                        <form action="{{ _admin.path(action.route, { 'id': data.id }) }}" method="POST">
                                            <input type="hidden" name="_method" value="{{ action._method }}" />
                                            <input type="submit" value="{{ action.label }}"
                                            {% if action.confirm %}
                                        	onclick="return confirm('{{ action.confirm }}');"
                                        	{% endif %}
                                            >
                                        </form>
                                    {% endif %}
                                    </li>

                                    </ul>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="panel_footer">
            {% if _action.hasOption('actions') %}
                <ul>
                    {% for action in _action.getOption('actions') %}
                        <li>
                            <a class="button_slidingdoors button_grey" href="{{ _admin.path(action.route) }}">
                                <span>
                                    {% if action.label|lower == 'new' %}
                                        <img class="button_icon" src="{{ asset('bundles/whiteoctoberadmin/images/buttons/icons/add.png') }}" alt="add icon"/>
                                    {% endif %}
                                    {{ action.label }}
                                </span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
